* {
  box-sizing: border-box;
}

body {
  background-color: rgba(31, 41, 55, 0.4);
}

div.header > div.container,
div.footer > div.container {
  width: 600px;
  background-color: #1f2937;
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  opacity: 0.75;
}

div.header > div.container {
  justify-content: space-between;
  padding: 16px 8px;
  display: none;
}

div.calculator > div.container {
  width: 600px;
  height: 700px;
  margin: 12px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-image: linear-gradient(rgba(0, 55, 31, 0.85), rgba(31, 41, 55, 0.95));
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

h1.brand {
  margin: 0;
  padding: 16px auto;
  color: #f4f4f4;
  font-family: serif;
}

p.calculator {
  margin: 12px auto;
  padding: 0;
  color: rgb(0, 255, 50);
  font-family: Helvetica, sans-serif;
}

div.calculator > div.container > div.result {
  height: 80px;
  width: 580px;
  font-size: 58px;
  text-align: right;
  border: 1px solid rgba(31, 41, 55, 0.55);
  border-top: none;
  padding: 0 8px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  white-space: nowrap;
  background-color: rgb(168, 233, 165);
}

div.calculator > div.container > div.equation {
  margin-top: 12px;
  height: 40px;
  width: 580px;
  font-size: 33px;
  text-align: right;
  border: 1px solid rgba(31, 41, 55, 0.55);
  border-bottom: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0 8px;
  white-space: nowrap;
  font-family: monospace;
  background-color: rgb(168, 233, 165);
}

div.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

div.control {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  background-color: rgba(31, 41, 55, 0.75);
  color: rgb(168, 233, 165);
}

span.superscript {
  vertical-align: super;
  font-size: 0.5em;
}

div.footer > div.container {
  justify-content: center;
  padding: 16px 0;
}

p.copyright {
  padding: 52px auto;
}

.pressed {
  background-color: rgba(31, 41, 55, 0.95) !important;
  color: rgba(0, 255, 0, 0.95) !important;
}

.glow {
  animation: glow 1s ease-in infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 3px #fff, 0 0 25px #fff, 0 0 7px #92dd98, 0 0 10px #92dd98, 0 0 12px #92dd98, 0 0 15px #92dd98, 0 0 18px #92dd98;
  }
  
  to {
    text-shadow: 0 0 5px #fff, 0 0 7px #14ee26, 0 0 10px #14ee26, 0 0 12px #14ee26, 0 0 15px #14ee26, 0 0 18px #14ee26, 0 0 20px #14ee26;
  }
}