* {
  box-sizing: border-box;
}

div.header > div.container,
div.footer > div.container {
  width: 960px;
  background-color: #1f2937;
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

div.header > div.container {
  justify-content: space-between;
  padding: 16px 8px;
}

div.calculator > div.container {
  width: 700px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

div.calculator > div.container > div.result {
  height: 80px;
  width: 100%;
  font-size: 65px;
  text-align: right;
  border: 1px solid rgba(31, 41, 55, 0.55);
  border-top: none;
  margin-bottom: 18px;
  padding: 0 8px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  white-space: nowrap;
}

div.calculator > div.container > div.equation {
  margin-top: 12px;
  height: 40px;
  width: 100%;
  font-size: 38px;
  text-align: right;
  border: 1px solid rgba(31, 41, 55, 0.55);
  border-bottom: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0 8px;
  white-space: nowrap;
  font-family: monospace;
}

div.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

div.control {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  background-color: rgba(31, 41, 55, 0.75);
}

span.superscript {
  vertical-align: super;
  font-size: 0.5em;
}

div.footer > div.container {
  justify-content: center;
  padding: 32px 0;
}

p.copyright {
  padding: 52px auto;
}

.pressed {
  background-color: rgba(31, 41, 55, 0.95) !important;
  color: rgba(0, 255, 0, 0.95);
}